<div class="chat_right-column_selected">
    <div class="chat_right-column_selected_header">
        <div class="chat_right-column_selected_header_avatar">
            <img src="{{avatar}}" alt="{{name}}">
        </div>

        <div class="chat_right-column_selected_header_name">
            <span>{{name}}</span>
        </div>

        <div class="chat_right-column_selected_header_actions">
            {{!-- {{>HeaderActions }} --}}
        </div>
    </div>

    <div class="chat_right-column_selected_middle">
        <div class="chat_right-column_selected_middle_items">     

            <div class="chat_right-column_selected_middle_items_chat-date">
                19 июня
            </div>
  
            {{#each Messages}}
                {{{ this }}}
            {{/each}}

        </div>
    </div>

    <form>
        <div class="chat_right-column_selected_message-form">
            <div class="chat_right-column_selected_message-form_actions">
                {{!-- {{>FooterActions }} --}}
            </div>
    
            <div class="chat_right-column_selected_message-form_input">
                {{!-- {{>Field 
                    containerClassName="chat_right-column_selected_message-form" 
                    inputName="message"
                    placeholder="Сообщение"
                }} --}}
            </div>

            <div class="chat_right-column_selected_message-form_send-button"> 

                {{!-- {{>Button 
                    title='<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="5.19995" width="11" height="1.6" fill="white"/>
                        <path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6"/>
                        </svg>
                    '
                }} --}}
            </div> 
        </div>
    </form>
</div>
