<form>
    <div class="login-form_fields">
        {{{ LoginField }}}
        {{{ PasswordField }}}
    </div>

    <div class="login-form_buttons buttons-center">

        {{{ Button }}}

        {{{NoAccount}}} 
        
    </div> 
</form>
