$btnColor: #BB2649;

.button {
    background-color: $btnColor;
    color: #fff;
    padding: 12px 0;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;

    &:hover {
        opacity: .9;
    }
} 