<form>
    <div class="chat_right-column_selected_message-form">
        <div class="chat_right-column_selected_message-form_actions">
            
            {{{ MediaAction }}}
            {{{ MediaButtons }}}

        </div>

        <div class="chat_right-column_selected_message-form_input">
            
            {{{ Input }}}

        </div>

        <div class="chat_right-column_selected_message-form_send-button"> 
            
            {{{ SendButton }}}
            
        </div> 
    </div>
</form>
