<div class="container-sm"> 
    <div class="window-sm border-shadow-radius"> 

        <div class="registration-page_title">
            <h3 class="registration-page_title_h3 title">
                Регистрация
            </h3>
        </div>


        {{{ ErrorMessage }}}
        {{{ Form }}}
        
    </div>
</div>  
