<form class="registration-form">
    <div class="registration-form_fields">

        {{#each Inputs}}
            {{{this}}}
        {{/each}}

    </div>

    <div class="registration-form_buttons buttons-center">
        
        {{{ Button }}}

        {{{ Link }}}
        
    </div>
</form> 
