<div class="container-sm"> 
    <div class="window-sm border-shadow-radius"> 

        <div class="registration-page_title">
            <h3 class="registration-page_title_h3 title">
                Регистрация
            </h3>
        </div>

        <form class="registration-form" onsubmit="goToPage('chat')">
            <div class="registration-form_fields">

                {{>Field 
                    containerClassName="registration-form_registration"
                    inputId="registration-form_email"
                    label="Почта"
                    type="email"
                    inputName="email"
                    placeholder="Почта"
                    error=""
                }} 

                {{>Field 
                    containerClassName="registration-form_registration"
                    inputId="registration-form_password"
                    label="Логин" 
                    inputName="login"
                    error=""
                }} 

                {{>Field 
                    containerClassName="registration-form_registration"
                    inputId="registration-form_name"
                    label="Имя" 
                    inputName="first_name"
                    error=""
                }} 
                
                {{>Field 
                    containerClassName="registration-form_registration"
                    inputId="registration-form_last-name"
                    label="Фамилия" 
                    inputName="second_name"
                    error=""
                }} 

                {{>Field 
                    containerClassName="registration-form_registration"
                    inputId="registration-form_phone"
                    label="Телефон" 
                    inputName="phone"
                    error=""
                }} 

                {{>Field 
                    containerClassName="registration-form_registration"
                    inputId="registration-form_password"
                    label="Пароль" 
                    inputName="password"
                    error="Пароли не совпадают"
                }} 

                {{>Field 
                    containerClassName="registration-form_registration"
                    inputId="registration-form_re-password"
                    label="Пароль (ещё раз)" 
                    inputName="re_password"
                    error="Пароли не совпадают"
                }} 

            </div>

            <div class="registration-form_buttons buttons-center">
                {{>Button className="registration-form_submit" title="Зарегистрироваться"}}

                <a onclick="goToPage('login')" class="registration-form_login mx-2">
                    Войти
                </a>
            </div>
        </form> 
    </div>
</div>  
