<div class="modal {{state}}">
    {{{ModalBackground}}} 

    <div class="modal_content border-shadow-radius">
        <div class="modal_content_title">
            {{title}}
        </div>

        <div class="modal_body">
            {{{ body }}}
        </div>
    </div>
</div>
