<div class="container">

    <div class="profile">
        
        <div class="profile_left">
            {{{ PrevButton }}} 
        </div>

        <div class="profile_right">
            <div class="profile_right_info">
                
                <div class="profile_right_info_header">
                    {{{ ChangeAvatar }}}

                    <div class="profile_right_info_header_name mx-2">
                        {{ name }}
                    </div>

                </div>

                <div class="change-password">
                    
                    {{{ ChangePassword }}}

                </div>
                
            </div>
        </div>
    </div>
</div>  
