<form>
    <ul>
        <li>
            <div class="profile_right_info_data_field-name">
                Старый пароль
            </div>
            <div class="profile_right_info_data_field-value">
                {{{ oldPassword }}}
            </div> 
        </li>
        <li>
            <div class="profile_right_info_data_field-name">
                Новый пароль
            </div>
            <div class="profile_right_info_data_field-value">
                {{{ newPassword }}}
            </div> 
        </li>
        <li>
            <div class="profile_right_info_data_field-name">
                Повторите новый пароль
            </div>
            <div class="profile_right_info_data_field-value">
                {{{ rePassword }}}
            </div> 
        </li>
    </ul>

    <div class="profile_right_info_data_save-button mt-8">
        <div class="profile_right_info_data_save-button_center">
            {{{ SaveButton }}}
        </div>
    </div>
</form>
