<div class="container">
    <div class="error-page"> 
        
        <div class="error-page_content">
            <div class="error-page_content_error-number">
                <h1>500</h1>
            </div>

            <div class="error-page_content_text">
                <p>Мы уже фиксим</p>
            </div>
        </div>

        <div class="error-page_go-to-back mt-4">
            <a onclick="goToPage('chat')">Назад к чатам</a>
        </div>

    </div>
</div>
